.DS_Store
.thumbs.db
.env
node_modules
/src/components/Widgets/widget.json
/src/components/Widgets/PageBuilderComponents.js
/src/components/Widgets/PageBuilderOptionPanels.js

# Quasar core related directories
.quasar
/dist
/src-ssr
#/src-pwa

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
